.wd-main-content {
    width: 75%;
    margin: 50px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-tuiter-theme {
    color:#0d6efd;
}

.wd-settings {
    padding-left: 25px;
}


.wd-search-bar {
    /*border-radius: 25px;*/
}

.wd-search-bar .form-control {
    padding-left: 40px;

}

.wd-search-bar .wd-form-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    color: black;
}

.wd-card-image-text {
    z-index: 2;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.wd-bottom-left {
    position: absolute;
    top: 600px;
    left: 5px;
}

