.wd-main-content {
    width: 75%;
    margin: 50px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-tuiter-theme {
    color:#0d6efd;
}

.wd-settings {
    padding-left: 25px;
}


.wd-search-bar {
    /*border-radius: 25px;*/
}

.wd-search-bar .form-control {
    padding-left: 40px;

}

.wd-search-bar .wd-form-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    color: black;
}

.wd-card-image-text {
    z-index: 2;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.wd-bottom-left {
    position: absolute;
    top: 325px;
    left: 5px;
}

.wd-post-trendline {
    margin-left: 16px;
}

.wd-post-title {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 16px;
    font-weight: bold;
}

.wd-post-info {
    font-size: 13px; /*required*/
    color: rgb(110, 118, 125); /*required*/
    margin-bottom: 0px;
    font-weight: normal;
}

.wd-title-inline-container {
    white-space: nowrap;
}

.wd-title-inline-items {
    display: inline-block;
}

.wd-post-image {
    width: 100px; /*required*/
    height: 100px; /*required*/
    margin-right: 16px; /*required*/
    border-radius: 20px; /*needed*/
    display: inline-block;
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
}

.wd-float-left {
    float: left;
    display: inline;
}

.wd-float-done {
    clear:both;
}

.wd-navigation-bar {
    margin-top: 5px;
    margin-bottom: 5px;
}















