body {
    font-family: "Arial", sans-serif;
    background-color: black; /*required*/
    color: white; /*required*/
    margin-left: 16px;
}

.wd-container {
    /*border-color: rgb(47, 51, 54);*/
    /*border: 10px 10px 20px 20px;*/
    border-width: 1px; /*required*/
    border-style: solid; /*required*/
    border-color: lightgray; /*required*/
    height: 630px;
    width: 1260px;
    margin-left: 20px;
}

.wd-search-bar {
    border-radius: 50px;
    color: white; /*required*/
    background-color: darkgray; /*required*/
    padding: 5px;
    padding-left: 10px;
    padding-right: 220px;
    margin-right: 12px; /*required*/
    margin-left: 16px;
}

.wd-nav-tabs {
    width:100%;
    color: rgb(29,161,242); /*required*/
    padding: 0;

}
.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    color: rgb(110,118,125); /*required*/
    font-size: 15px; /*required*/
    padding: 16px; /*required*/
    font-weight: bold;

}

.wd-line-selected {
    /*width: 10px;*/
    /*height: auto;*/
    padding-bottom:16px;
    border-bottom: 4px solid rgb(29,161,242); /*required*/
    border-radius: 4px;
}

.wd-nav-tabs .wd-selected {
    color:rgb(29,161,242);
}

.wd-post-trendline {
    font-size: 13px; /*required*/
    color: rgb(110, 118, 125); /*required*/
    margin-bottom: 0px;
    font-weight: normal;
}

.wd-post-data {
    font-size: 13px; /*required*/
    color: rgb(110, 118, 125); /*required*/
    margin-top: 0px;
}

.wd-post-title {
    margin-top: 3px;
    margin-bottom: 3px;
}

.wd-post-author {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
}

.wd-post-image {
    width: 100px; /*required*/
    height: 100px; /*required*/
    margin-right: 16px; /*required*/
    border-radius: 20px; /*needed*/
    display: inline-block;
    float: right;
}

.wd-float-left {
    float: left;
}

.wd-float-done {
    clear:both;
}


