.wd-main-content {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
}

.wd-tuiter-theme {
    color:#0d6efd;
}

.wd-settings {
    padding-left: 25px;
}

.wd-search-bar .form-control {
    padding-left: 40px;
}

.wd-search-bar .wd-form-icon {
    position: absolute;
    z-index: 4;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    color: black;
}

.wd-card-container {
    position: relative;
    text-align: center;
    color: white;
}

.wd-card-image-text {
    z-index: 2;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.wd-bottom-left {
    position: absolute;
    top: 90%;
    left: 5px;
}

.wd-post-trendline {
    margin-left: 16px;
}

.wd-post-title {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 16px;
    font-weight: bold;
    font-size: 18px;
}

.wd-post-info {
    font-size: 18px; /*required*/
    color: rgb(110, 118, 125); /*required*/
    margin-bottom: 0px;
    font-weight: normal;
}

.wd-title-inline-container {
    white-space: nowrap;
}

.wd-title-inline-items {
    display: inline-block;
}

.wd-post-image {
    width: 100px; /*required*/
    height: 100px; /*required*/
    margin-right: 16px; /*required*/
    border-radius: 20px; /*needed*/
    display: inline-block;
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
}

.wd-float-left {
    float: left;
    display: inline;
    width: 80%
}

.wd-float-done {
    clear:both;
}

.wd-navigation-bar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-tweet-button {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.wd-suggested-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-title {
    font-weight: bold;
}

.wd-user-image {
    width: 45px; /*required*/
    height: 45px; /*required*/
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.wd-follow-button {
    float:right;
    display: block;
    width: 26%;
    cursor: pointer;
    text-align: center;
}

.wd-user-suggestion {
    width: 100%;
}

.fa-stack.small { font-size: 0.5em; }
.stack-item { vertical-align: middle; }

/*!* Small devices screens and up *!*/
@media (min-width: 576px) {
    .wd-bottom-left{
        top: 83%;
    }
    .wd-float-left {
        width: 70%
    }
}

/* Large devices screens and up */
@media (min-width: 992px) {
    .wd-user-item {
        width: 193px;
        display: inline-flex;
    }
}

/*Only LARGE screen*/
@media (min-width: 992px) and (max-width:1199px) {
    .wd-tweet-button {
        width: 70px;
    }
}

/* XLarge devices screens and up */
@media (min-width: 1200px) {
    .wd-user-item {
        width: 230px;
        display: inline-block;
    }
    .wd-bottom-left {
        top: 88%;
    }
    .wd-float-left {
        width: 75%
    }
}

/* XXLarge devices screens and up*/
@media (min-width: 1400px) {
    .wd-user-item {
        width: 275px;
        display: inline-block;
    }
}





