body {
    font-family: "Arial", sans-serif;
    background-color: black; /*required*/
    border-color: rgb(47, 51, 54); /*required*/
    color: white; /*required*/
    /*margin-left: 16px;*/
    /*margin-top: 12px;*/
}

.wd-container {
    /*border-color: rgb(47, 51, 54);*/
    /*border: 10px 10px 20px 20px;*/
    border-width: 1px; /*required*/
    border-style: solid; /*required*/
    border-color: rgb(47, 51, 54); /*required*/
    height: 1055px;
    width: 600px;
    margin-left: 20px;
}

.wd-avatar {
    width: 48px; /*required*/
    margin-left: 16px; /*required*/
    margin-top: 12px; /*required*/
    border-radius: 50%;
}

.wd-border {
    /*border-width: 1px; !*required*!*/
    /*border-style: solid; !*required*!*/
    /*border-color: lightgray; !*required*!*/
    border-bottom: 1px solid rgb(47, 51, 54);
    display: flex;
    flex-wrap: wrap;
}


.wd-page-title {
    margin-left: 16px;/*required*/
    margin-top: 12px;/*required*/
    font-weight: bold;
    font-size: 20px;
    margin-bottom:0px;
}

.wd-text {
    margin-left: 16px;/*required*/
    margin-top: 0px;
    font-size: 13px; /*required*/
    color: rgb(110, 118, 125); /*required*/
    margin-bottom: 12px; /*required*/
}

.wd-post-handle {
    font-size: 15px; /*required*/
    color: lightgray; /*required*/
    margin-bottom: 0px;
    font-weight: normal;
}

.wd-post-author {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top:0px;
}

.wd-left {
    /*float: left;*/
   height: 100%;
    /*margin: 1em 0;*/
    display: inline-block;
    vertical-align: top;
    /*margin-left: 16px;*/
}

.wd-right {
    /*float: right;*/
    display: inline-block;
    margin-left: 12px;
    margin-top: 12px;

}

/*.wd-float-done {*/
/*    clear:both;*/
/*}*/

.wd-post-text {
    font-size: 15px;
    color: white;
    word-wrap: break-word;
    width: 506px;
    margin-right: 16px;
    margin-bottom: 12px;
    margin-top: 5px;
}

.wd-image {
    width: 504px;
    height: 264px;
    border-radius: 15px 15px 0px 0px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wd-image-content {
    width: 504px;
    margin-left: 75px;
    margin-top: 12px;
    border-radius: 15px;
    border: 1px solid rgb(47, 51, 54);

}

.break {
    flex-basis: 100%;
    height: 0;
}

.wd-title-under-image {
    font-size: 15px;
    color: white;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 0px;
}

.wd-text-under-image {
    font-size: 15px; /*required*/
    color: lightgray; /*required*/
    margin-left: 12px;
    margin-top: 5px;
    margin-right: 12px;
    margin-bottom: 12px;
    font-weight: normal;
}

.wd-social-media {
    width: 80%;
    margin-left: 40px;
    margin-top: 12px;
}

.wd-social-link {
    text-decoration: none;
    margin-right: 12px;

}

.wd-social-selected {
    font-size: 15px; /*required*/
    font-weight: normal;
    color: red;
}

.wd-social-number {
    font-size: 15px; /*required*/
    color: lightgray; /*required*/
    font-weight: normal;
}

th {
    width: 25%;
}

tr {
    /*margin-left: 10px;*/
}

.wd-last-post {
    border-bottom: 0px;
}
